{% if cv.skills %}
  <div id="skills" class="entry">
    

    <div class="entry-content">
      {% assign skill_groups = cv.skills | group_by:"category" %}
      {% for grp in skill_groups %}
        <header class="entry-header">
          <h3 class="entry-title">{{ grp.name }}</h3>
        </header>
        <ul>
        {% for s in grp.items %}
          <li>
            {% if s.name %}
              <strong>{{ s.name }}</strong>
            {% endif %}
            {% if s.time %}
              <span class="keywords">{{ s.time }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
      
    </div>
  </div>
{% endif %}
