---
layout: default
---

{% assign cv = site.data.cv %}
{% assign cv_private = site.data.cv_private %}
{% include cv/intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>
    <div>{% include cv/basics.html %}</div>
    <div class="print-col-container">
      <div class="entries print-col-1">
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
      </div>
      <div class="entries print-col-2">
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>
  </div>
</main>
